{% extends "base.html" %}
{% block content %}
	<form id="bookCreateForm" enctype="multipart/form-data" action="/posts/create_book/" method="POST">{% csrf_token %}
	<table>
		<tr>
{{ form.creator }}
			<td>{{ form.coverimg }}</td>
			<td>
				{{ form.title }}
				{{ form.genre }}
			</td>
		</tr>
		<tr>
			<td>{{ form.synopsis }}</td>
		</tr>
	</table>
	<input type="submit" value="만들기"/>
	</form>

	<script src="http://malsup.github.com/jquery.form.js"></script>
	<script>

		$(document).ready(function() {
			$('#bookCreateForm').submit(function() {
				$(this).ajaxSubmit();
				return false;
			});
		});
	</script>
{% endblock %}

