{% extends "base.html" %}

{% block header %}
<h1>{{ book_info.title }}</h1>
{% endblock %}


{% block content %}
	<!-- book information -->
	<p> {{ book_info.title }} </p>
	<p> <img src="{{ book_info.get_coverimg }}" /></p>
	<p> {{ book_info.get_genre_display }} </p>
	<p> {{ book_info.creator.get_nickname }} </p>
	<p> {{ book_info.synopsis }} </p>
	<!-- End -->

	
	<!-- Index of Book -->
	{% if book_info.root_branch == 0 %}
		 <a href = "/posts/write_branch/{{ book_info.id }}/{{ book_info.root_branch }}/">첫회쓰기</a>
	{% else %}
		<ul data-role="listview">
			<li data-role="list-divider">목차</li>
			{% for branch in branch_list %}
				<li>
					<a href = "/posts/read_branch/{{ branch.id }}/">
						{{ branch.title }}	
					</a>
				</li>
			{% endfor %}
		</ul>
	{% endif %}
	<!-- End -->


	<!-- Commentation of Book -->
	<form method="post" action="/posts/get_bookinfo/{{ book_info.id }}/"> {% csrf_token %}
		{{ bookcomment_form.book }} {{ bookcomment_form.writer }}
		{{ bookcomment_form.text }}
		<input type="submit" value="댓글달기" />
	</form>
	<!-- End -->


	<!-- View of Comment -->
	{% for bookcomment in bookcomments %}
	<p>
		{{ bookcomment.text}} {{ bookcomment.writer.get_nickname }} 
		{{ bookcomment.time_created }}
	</p>
	{% endfor %}
	<!-- End -->



{% endblock %}
