{% extends "base.html" %}

{% block header %}
<h1>{{ book_info.title }}</h1>
{% endblock %}


{% block content %}
	<!-- book information -->
	<p> {{ book_info.title }} </p>
	<p> <img src="{{ book_info.get_coverimg }}" /></p>
	<p> {{ book_info.get_genre_display }} </p>
	<p> {{ book_info.creator.get_nickname }} </p>
	<p> {{ book_info.synopsis }} </p>
	<!-- End -->

	
	<!-- Index of Book -->
	<ul data-role="listview">
		<li data-role="list-divider">목차</li>
		{% for branch in branch_list %}
			{% if branch.is_temporary == 0 %}
				<li>
					<a href = "/posts/read_branch/{{ branch.id }}/">
						{{ branch.title }} | 좋아요 개수: {{ branch.like_count }}
					</a>
				</li>

				<!-- {% include "posts/like_branch.html" %} -->
				
				{% if branch.is_liked %}
					<a href = "/posts/like_branch/{{ branch.id }}/0/">좋아요 취소</a>
				{% else %}
					<a href = "/posts/like_branch/{{ branch.id }}/1/">좋아요</a>
				{% endif %}
				
				<a href = "/posts/comment_branch/{{ branch.id }}/">댓글</a>
			{% endif %}
		{% endfor %}
	</ul>	
	<!-- End -->


	<!-- Commentation of Book -->
	<form method="post" action="/posts/get_bookinfo/{{ book_info.id }}/"> {% csrf_token %}
		{{ bookcomment_form.book }} {{ bookcomment_form.writer }}
		{{ bookcomment_form.text }}
		<input type="submit" value="댓글달기" />
	</form>
	<!-- End -->


	<!-- View of Comment -->
	{% for bookcomment in bookcomments %}
	<p>
		{{ bookcomment.text}} {{ bookcomment.writer.get_nickname }} 
		{{ bookcomment.time_created }}
	</p>
	{% endfor %}
	<!-- End -->
{% endblock %}

{% block right_bar %}
	{% if book_info.root_branch == null %}
		<a class="menu-item menu-icon facebook" 
			href="/posts/write_branch/{{ book_info.id }}/0/0/">첫회쓰기<em></em></a>
			<!-- book_info.root_branch == 0 -->
	{% endif %}
{% endblock %}